version: '3.8'

services:
  web:
    build: .
    container_name: web-preparatorio
    ports:
      - "80:80"
    volumes:
      - .:/var/www/html
      - ./docker-php.ini:/usr/local/etc/php/php.ini
      - ./docker-ProjectConfiguration.class.php:/var/www/html/config/ProjectConfiguration.class.php
      - ./docker-apache2.conf:/etc/apache2/apache2.conf
    networks:
      - phpapachenet
    depends_on:
      - db

  db:
    image: mariadb:latest
    container_name: mariadb-container
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root_password
      MYSQL_DATABASE: my_database
      MYSQL_USER: my_user
      MYSQL_PASSWORD: my_password
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - phpapachenet

volumes:
  db_data:

networks:
  phpapachenet:
    driver: bridge
